.profile_image {
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s ease;
  width: 150px;
}
.profile_image img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 100%;
}
.image_icon {
  background-color: #00000087;
  bottom: 0;
  color: #fff;
  font-size: 28px;
  position: absolute;
  right: 0;
  width: 100% !important;
  z-index: 1;
}
.profile_image input {
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.details-container {
  /* max-width: 600px; */
  /* margin: 0 auto; */
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.details-container h2 {
  text-align: center;
  font-size: 36px;
  color: #555;
  margin-bottom: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.detail:hover {
  transform: translateY(-5px);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 17px;
  font-weight: bold;
  color: #888;
  margin-right: 20px;
}

.value {
  font-size: 16px;
  color: #333;
}

.load-more-button {
  background-color: #1e2553;
  color: #fff;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 13px;
  border-radius: 5px;

  margin: 20px 0;
}
.disable-button {
    opacity: 0.5;
    background-color: #1e2553;
    color: #fff;
    border: none;
    padding: 4px 12px;
    cursor: not-allowed !important;
    transition: background-color 0.3s ease;
    font-size: 13px;
    border-radius: 5px;
  
    margin: 20px 0;
  }
  .load-more-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .load-more-button-container p {
    font-weight: bold;
  }
  .load-more-button-container span {
    color: gray;
    font-size: 15px;
    margin-right: 15px;
  }
  .load-more-button:hover {
    background-color: #171d3f;
  }
  .product-card {
    /* max-width: 1280px;
      margin: 0 auto; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .product-card-header {
    color: #1e2553;
    background-color: #1e25531a;
    padding: 20px;
    text-align: left;
  }
  
  .product-card-body {
    padding: 20px;
  }