// Here you can add other styles
.bred-edit a{
  text-decoration: none !important;
  background-color: transparent !important;
  color: #321fdb !important;
  font-weight: 400;
}
.bred-edit a:hover{
    text-decoration: underline !important;
}